{% extends 'duck.html' %}

{% block hero %}
    <h3>Chain</h3>
{% endblock %}

{% block main %}
    <div class="row">
      <p>In this example we use many NullPoint's to define a Chain.</p>
      <p>You can apply many NullPoint's to your Line. By default
      it's 2 but here we've provided 25 points, each with a unique location.</p>
    </div>
    <div class="row">
        <pre><code class='js'> </code></pre>
    </div>
{% endblock %}

{% block footer_js %}
    {{ super() }}
    <script src="/js/duck/chain.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
