{% extends 'base.html' %}

{% block header_css %} 
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/example.css" />
{% endblock %}




{% block hero %}
    <h2>Cotton</h2>
    <div class="row">
      <blockquote>A basic platform for your simple canvas ideas.</blockquote>
    </div>
{% endblock %}


{% block content %} 
    <div class="row">
        <div class="col s3">
            <div class="collection">    
                <a class='collection-item active' href="/home.html">Home</a>
                <a class='collection-item' href="/cotton.html">Cotton</a>
                <a class='collection-item' href="/duck.html">Duck</a>
                <a class='collection-item' href="/pages/duck-point.html">Point</a>
                <a class='collection-item' href="/pages/duck-line.html">Line</a>
                <a class='collection-item' href="/pages/duck-chain.html">Chain</a>
                <a class='collection-item' href="/pages/duck-pie.html">Pie</a>
                <a class='collection-item' href="/pages/duck-mouse.html">Mouse</a>
            </div>
        </div>
        <div class="col s9">
            <canvas id="main"></canvas>
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer_js %}   
    {{ super() }}

    <script src="/src/duck/vendor/jsface/jsface.js" data-build='true' type="text/javascript" charset="utf-8"></script>
    <script src="/src/cotton/vendor/it.js" data-build='true' type="text/javascript" charset="utf-8"></script>
    <script src="/src/cotton/vendor/ljs/l.js" data-build='true' type="text/javascript" charset="utf-8"></script>

    <!-- Nothing is required for basic setup of Cotton. By importing Cotton-run.js
    Assets are imported and implemented -->
    <script src="/src/spindle/spindle.js"></script>
    <script src="/src/spindle/spindle-plugin.js" data-build='true' type="text/javascript" charset="utf-8"></script>

    <script src="/src/cotton/cotton.js" data-build='true' type="text/javascript" charset="utf-8"></script>

    <script src="/js/spindle.js"></script>
    <!-- <script src="simple.js"></script> -->
{% endblock %}
