{% extends 'cotton.html' %}

{% block header_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="example.css" />
{% endblock %}

{% block hero %}
    <h2>Duck</h2>
    <div class="row">
      <blockquote>A basic platform for your simple canvas ideas.</blockquote>
    </div>
{% endblock %}

{% block footer_js %}
    {{ super() }}

    <script src="../src/duck/duck/base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/clock.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/displayobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck.js" data-build='true' type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/surface.js" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="../src/duck/objects/NullPoint.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <script src="../src/duck/objects/Point.js" type="text/javascript" charset="utf-8"></script> -->

    <script src="js/duck/point.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
