{% extends 'cotton.html' %}

{% block header_css %}
{{ super() }}

<style type="text/css" media="screen">
    #editor { 
        position: relative;
        width: 100%;
        height: 300px;
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/example.css" />
{% endblock %}

{% block hero %}
    <h2>Duck</h2>
    <div class="row">
      <blockquote>A basic platform for your simple canvas ideas.</blockquote>
    </div>
{% endblock %}

{% block main %}
     <p class="flow-text">Duck components are a library of tools to help drawing on the canvas.
     </p>
     
      <h2>Getting started</h2>
      <p>To get started, we need to use a bit of cotton to wait for a ready canvas</p>

<pre><code class="js">var line = function(){};

var ready = function(){
var canvas = new cotton.duck.objects.Surface('main');

canvas.load(['NullPoint'], function(o){
    NullPoint = o.NullPoint;
    canvas.load(['Line'], line);
});

cotton.ready(ready)</code></pre>

    <p>In this example, we wait for a ready event and call the 'line' function.</p>

    <h3>Live Loading</h3>
    <p>If your using the live loader, you call the Duck element's you'd like to use prior to usage.</p>
    <p>Pass an array and handler to the load() method</p>
    <pre><code class="js">var line = function(){};
canvas.load(['NullPoint','Line'], function(){});</code></pre>

    <h3>Component usage</h3>

    <p>The API is super simple All components follow the following structure</p>
    <ul>
        <li>First required argument are <b>NullPoint</b>'s</li>
        <li>Second optional argument is a <b>data</b> object</li>
    </ul>
    <pre><code class="js">data = {};
points = [
    new NullPoint(10, 10),
    new NullPoint(10, 100)
];
new Line(points, data);</code></pre>

{% endblock %}

{% block footer_js %}
    {{ super() }} 

    <script src="../src/duck/duck.js" data-build='true' type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Modifiers.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Clock.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Displayobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="../src/duck/duck/Surface.js" type="text/javascript" charset="utf-8"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    if( $('#editor').length > 0 ){

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    }
</script>

{% endblock %}
